* {
  margin: 0;
  padding: 0;
}

body {
  padding: 10px;
}

.product-list {
  width: 70%;
  margin: auto;
  text-align: center;
}

.row {
  margin-bottom: 15px;
}

.product-cell {
  position: relative;
  display: inline-block;
  cursor: pointer; 
}

.discount {
  position: absolute;
  top:0;
  right: 0;
  background-color: red;
}
.product-cell:nth-child(2) .discount {
  background-color: green;
}

.heart {
  display: none;
  position: absolute;
  bottom: 5px;
  width: 300px;
  text-align: center;
  font-size: 35px;
  color: red;
}
.product-cell:hover .heart {
  display: block;
}
