* {
  margin: 0;
  padding: 0;
}

body {
  padding: 10px;
}

.product-cell {
  display: inline-block;
  position: relative;
}

.discount {
  position: absolute;
  top:0;
  right: 0;
  background-color: red;
}
.product-cell:nth-child(2) .discount {
  background-color: green;
}

.heart {
  position: absolute;
  bottom: 5px;
  width: 300px;
  text-align: center;
  font-size: 35px;
  color: red;
}
